* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .moon {
    width: 100px;
    height: 100px;
    background-image: url("Moon.jpg");
    border-radius: 50px;
    position: absolute;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  @keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:1200px; right:0px;}
   
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background-image: url("sky.png");
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 50px;
    font-family: 'UnifrakturCook';
    
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  .fakeimg1 {
    background-image: url("nasa.jpg");
    width: 100%;
    padding: 20px;
  }
  .fakeimg2 {
    background-image: url("eu.jpg");
    width: 100%;
    padding: 20px;
    background-repeat: no-repeat;
  }
  .fakeimg3 {
    background-image: url("YERKES.jpg");
    width: 100%;
    padding: 20px;
    background-repeat: no-repeat;
  }
  .fakeimg4 {
    background-image: url("GMT.jpg");
    width: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    height:150px;
  }
  .fakeimg5 {
    background-image: url("low.jpg");
    width: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    height:150px;
  }


  /* Footer */
  .footer {
    padding: 5px;
    text-align: center;
    background-image:url("sky.png");
    font-family: 'UnifrakturCook';
    width: 100%;
    color: white  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  * {
    box-sizing: border-box;
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
/* Create three equal columns that floats next to each other */
.column1 {
  color: aliceblue;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.mySlides {
  display: none;
}
#p{
  text-align: justify;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}